body{
    background-color: #1c1c1c;
    color: white;
    font-family: 'Dongle', sans-serif;
}

.col-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    display: flex;
    text-decoration: none;  /* Quintamos el color azul del link*/
    font-size: 30px;         /* Es el groso de la letras*/
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color:#1c1c1c ;
    border: 2px solid #eb520bde;
    padding: 10px;
}

.btn:hover{
    color: #eb520bde ;
    font-weight: bold;
    font-size: 32px;
    border: 1px solid #eb520bde; 
   
}

.btn-03{
    display: flex;
    text-decoration: none;  /* Quintamos el color azul del link*/
    font-size: 30px;         /* Es el groso de la letras*/
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color:#1c1c1c ;
    border: 2px solid #43cee0de;
    padding: 10px;
}

.btn-03:hover{
    color: #43cee0de ;
    font-weight: bold;
    font-size: 32px;
    border: 1px solid #43cee0de; 
}

.btn-04{
    display: flex;
    text-decoration: none;  /* Quintamos el color azul del link*/
    font-size: 30px;         /* Es el groso de la letras*/
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color:#1c1c1c ;
    border: 2px solid #e70bd5de;
    padding: 10px;
}

.btn-04:hover{
    color: #e70bd5de ;
    font-weight: bold;
    font-size: 32px;
    border: 1px solid #e70bd5de;    
}

.row-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.titulo-p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 35px;
    height: 50px;
}

.alto{
    height: 20px;
}

.footer{
    position: fixed;  
    bottom: 0px;  
    width: 100%;
    height: 50px;  
    background-color: rgba(255, 255, 255, 0.877);  
    color: #4a4a4bcc;  
    text-align: center; 
    
}
a{
    text-decoration: none;
    color: #1c1c1c;
}

hr{
    margin-top: 15px;
    width: 30%;
    border: 1px solid white;
}

.nav{
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    width: 100%;
}

.main-title{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 20px;
}

.btn-05{
    display: flex;
    text-decoration: none;  /* Quintamos el color azul del link*/
    font-size: 30px;         /* Es el groso de la letras*/
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color:#1c1c1c ;
    border: 2px solid #f4f808de;
    padding: 10px;
}

.btn-05:hover{
    color: #f4f808de ;
    font-weight: bold;
    font-size: 32px;
    border: 1px solid #f4f808de; 
}

.btn-06{
    display: flex;
    text-decoration: none;  /* Quintamos el color azul del link*/
    font-size: 30px;         /* Es el groso de la letras*/
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color:#1c1c1c ;
    border: 2px solid #f80858de;
    padding: 10px;
}

.btn-06:hover{
    color: #f80858de ;
    font-weight: bold;
    font-size: 32px;
    border: 1px solid #f80858de; 
}

.espacio{
    height: 400px;
}